.ulClass {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.linkClass {
    background: none;
    border: none;
}

.liClass {
    float: left;
}

.alignRight {
    float: right;
}

.liClass .linkClass {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style: none;
}

.liClass .linkClass:hover {
    background-color: #111;
    cursor: pointer;
}